body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid black;
}

input {
    margin-bottom: 5px;
}
